"" Which-key Descriptions
"" ========================================================

"" Key mappings
"" ========================================================

ma <leader>zo :action ExandAllRegions<CR>

" Window splits
let g:WhichKeyDesc_window_split_vertically = "<leader>wv Split vertically"
map <leader>ws <Action>(SplitHorizontally)
map <leader>wu <Action>(Unsplit)
map <leader>wm <Action>(MoveEditorToOppositeTabGroup)

" Display options
map <leader>dd <action>(ToggleDistractionFreeMode)
map <leader>dz <action>(ToggleZenMode)
map <leader>df <action>(ToggleFullScreen)

"  Actions
map <leader>am <action>(ShowIntentionActions)
map <leader>ac <action>(CommentByLineComment)
map <leader>ar <action>(Run)
map <leader>ad <action>(Debug)
map <leader>as <action>(Stop)
map <leader>at <action>(RunAllTest)
map <leader>ao <action>(RiderOpenSolution)
map <leader>an <action>(RiderNuGetToggleToolWindowAction)
map <leader>aq <action>(Console.Jdbc.Execute)

" Find
map <leader>ff <action>(GotoFile)
map <leader>fr <action>(RecentFiles)
map <leader>fc <action>(FindInPath)
map <leader><leader> <Action>(RecentFiles)
map <leader>fl <action>(RecentLocations)
map <leader>fs <action>(NewScratchFile)
map <leader>fe <action>(SearchEverywhere)

" Close active tab
map <leader>q <action>(CloseContent)

" Refactoring
map <leader>rn <Action>(RenameElement)
map <leader>rm <Action>(ExtractMethod)
map <leader>rv <Action>(IntroduceVariable)
map <leader>rf <Action>(IntroduceField)
map <leader>rs <Action>(ChangeSignature)
map <leader>rr <Action>(Refactorings.QuickListPopupAction)

" Go to code
nmap <leader>gd <Action>(GotoDeclaration)
nmap <leader>gy <Action>(GotoTypeDeclaration)
nmap <leader>gi <Action>(GotoImplementation)
nmap <leader>gu <Action>(ShowUsages)
nmap <leader>gt <Action>(GotoTest)
nmap <leader>gf <Action>(Back)
nmap <leader>gb <Action>(Forward)

" Git windows
map <leader>gc <Action>(CheckinProject)
map <leader>gs <Action>(ActivateVersionControlToolWindow)
map <leader>gb <Action>(Git.Branches)

" Errors
map <leader>en <Action>(ReSharperGotoNextErrorInSolution)
map <leader>ep <Action>(ReSharperGotoPrevErrorInSolution)

" Context
map <leader>ca <Action>(ShowIntentionActions)
map <leader>ch <action>(ShowHoverInfo)

" Harpoon
nmap <leader>hsn :action SetHarpoon1<cr>
nmap <leader>hse :action SetHarpoon2<cr>
nmap <leader>hsi :action SetHarpoon3<cr>
nmap <leader>hso :action SetHarpoon4<cr>
"nmap <leader>hs5 :action SetHarpoon5<cr>

nmap <leader>hn :action GotoHarpoon1<cr>
nmap <leader>he :action GotoHarpoon2<cr>
nmap <leader>hi :action GotoHarpoon3<cr>
nmap <leader>ho :action GotoHarpoon4<cr>
"nmap <leader>hg5 :action GotoHarpoon5<cr>

nmap <leader>hh :action ShowHarpoon<cr>
nmap <leader>ha :action AddToHarpoon<cr>

" Vim
nmap <leader>vr :action IdeaVim.ReloadVimRc.reload<CR>
nmap <leader>vo :e ~/.ideavimrc<CR>

" Tools
nmap <leader>tt :!alacritty &<CR>
nmap <leader>td :action ActivateDatabaseToolWindow<CR>
"nmap <leader>th :action HideActiveWindows<CR>
nmap <leader>th :action HideAllWindows<CR>
nmap <leader>ts :action ShowSettings<CR>
nmap <leader>te :action ActivateProblemsViewToolWindow<CR>

" Bugs
nmap <leader>bb :action ToggleLineBreakpoint<CR>
nmap <leader>br :action Debugger.RemoveAllBreakpoints<CR>
nmap <leader>bf :action Debugger.RemoveAllBreakpointsInFile<CR>
